<header>
    <div class="logo">
      <a href="/accueil" alt="Logo"><img src="mqj.png"></a>
    </div>
    
    <nav class="nav">
      <ul>
        <li><a href="/utilisateurs">Utilisateur</a></li>
        <li><a href="/produits">Produits</a></li>
        <li><a href="/commandes">Commandes</a></li>
        <li><a href="/clients">Clients</a></li>
      </ul>
    </nav>
    
    <div class="connect">
      <a>Connecté admin</a>
    </div>
  </header>
  
  
  
  <div class="background"> 
    <div class="container">
        <h2>Nouveau Utilisateur</h2>
      
        <!-- Formulaire d'ajout d'un nouvel utilisateur -->
        <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
          
          <div class="form-group">
            <label for="name">Nom :</label>
            <input type="text" 
            id="name" 
            [(ngModel)]="newUser.username" 
            name="name" 
            required minlength="1" maxlength="23" 
            #name="ngModel"
            />
            
            <span class="error" *ngIf="name.invalid">
              {{ name.errors?.['required'] ? 'Nom obligatoire.' : '' }}
            </span>
          </div>

          <div class="form-group">
            <label for="role">Rôle :</label>
            <select 
            id="role" 
            [(ngModel)]="newUser.role" 
            name="role" 
            required 
            #role="ngModel"
          >
            <option value="" disabled selected>Choisissez un rôle</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
          </select>

          <span class="error" *ngIf="role.invalid">
            Le rôle est obligatoire.
          </span>

          </div>

          <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" 
            id="password" 
            [(ngModel)]="newUser.password" 
            name="password" 
            required minlength="3" maxlength="3"
            #password="ngModel"/>

            <span class="error" *ngIf="password.invalid">
              {{ password.errors?.['required'] ? 'Le mot de passe est obligatoire.' : '' }}
              {{ password.errors?.['minlength'] ? 'Minimuù 3 caractères.' : '' }}
            </span>

          </div>
         
         
      
          <button type="submit" [disabled]="!clientForm.form.valid">Valider</button>
        </form>
      </div>
  </div>
  <app-footer></app-footer>
    