<header>
    <div class="logo">
      <a href="/accueil" alt="Logo"><img src="mqj.png"></a>
    </div>
    
    <nav class="nav">
      <ul>
        <li><a href="/utilisateurs">Utilisateur</a></li>
        <li><a href="/commandes">Commandes</a></li>
        <li><a href="/clients">Clients</a></li>
      </ul>
    </nav>
    
    <div class="connexion">
      <button>Connexion</button>
    </div>
</header>

<div class="image-container">
    <img src="cars.jpg" alt="Cars" class="responsive-image">
</div>
<app-footer></app-footer>
